<div class="footer">
    <div class="text-footer">
        <p class="text">Регистрация на <span>бесплатную</span> телефонную <span>консультацию</span> по нюансам ЗНО по английскому языку</p>
    </div>

    <div class="text-footer">
        <p class="text-1">Оставь заявку на участие в <span>бесплатном занятии.</span> С вами свяжется консультант и ответит на вопросы</p>
    </div>

    <form action="" class="form-footer">
        <input type="text" class="form-data" placeholder="Имя*"> <br>
        <input type="text" class="form-data" placeholder="Телефон*">
    </form>

    <button class="btn">хочу на бесплатное занятие</button>
</div>

<div class="contacts">
    <div class="position">
        <svg class="logo"  width="84px" height="30px">
            <use href="../sprite.svg#icon-logo-1"></use>
        </svg>
    </div>

    <div class="position">
        <a href="">
            <!-- <svg class="contacts-icon"  width="68px" height="48px">
                <use href="../sprite.svg#icon-tel-icon" width="20px" height="20px"></use>
            </svg> -->
            <span class="tel">+38 (000) 000 00 00</span>
        </a>
    </div>
    <div class="icon-insta position">
        <img src="./images/footer/instagram.jpg" alt=""  width="40px" height="40px">
    </div>
    
</div>

<div class="bg-footer">
    <span class="attention">@ Все права защищены, 2019</span>
</div>
