<section class="reviews container">
  <h2 class="section-title">Отзывы выпускников</h2>
  <<<<<<< HEAD
  <div class="slider-card">
    <picture>
      <source
        media="(min-width: 1314px)"
        srcset="
          ./images/reviews/student-6-main-1314.jpg    1x,
          ./images/reviews/student-6-main-1314@2x.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/reviews/student-6-main-768.jpg    1x,
          ./images/reviews/student-6-main-768@2x.jpg 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/reviews/student-6-main-320.jpg    1x,
          ./images/reviews/student-6-main-320@2x.jpg 2x
        "
      />
      <img
        src="./images/reviews/student-6-main-1314.jpg"
        alt="Тоня Кучеровская"
      />
    </picture>
    <svg class="icon-vk">
      <use href="../sprite.svg#icon-vk"></use>
    </svg>
    <p class="student-name">Тоня Кучеровская</p>
    <p class="student-education">
      Выпуск 2015-го года, Національний університет біоресурсів і
      природокористування України
    </p>
    <p class="student-about">
      За короткий час занять з Оленою я опанувала граматику і поповнила свій
      зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що
      знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді
      хвилювала моя успішність. Вона стала для мене авторитетом, проте я не
      тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я можу
      похизуватись тим, що я студен ...
    </p>
    <a href="" class="read-more">Читать дальше</a>
  </div>
  <div class="slider-point">
    <svg class="icon-arrow left">
      <use href="../sprite.svg#icon-arrow-left"></use>
    </svg>
    <div class="students-foto">
      <picture>
        <source
          media="(min-width: 1314px)"
          srcset="
            ./images/reviews/student-1-1314.jpg    1x,
            ./images/reviews/student-1-1314@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/reviews/student-1-768.jpg    1x,
            ./images/reviews/student-1-768@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/reviews/student-1-320.jpg    1x,
            ./images/reviews/student-1-320@2x.jpg 2x
          "
        />
        <img src="./images/reviews/student-1-1314.jpg" alt="Тоня Кучеровская" />
      </picture>
      <picture>
        <source
          media="(min-width: 1314px)"
          srcset="
            ./images/reviews/student-2-1314.jpg    1x,
            ./images/reviews/student-2-1314@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/reviews/student-2-768.jpg    1x,
            ./images/reviews/student-2-768@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/reviews/student-2-320.jpg    1x,
            ./images/reviews/student-2-320@2x.jpg 2x
          "
        />
        <img src="./images/reviews/student-2-1314.jpg" alt="Тоня Кучеровская" />
      </picture>
      <picture>
        <source
          media="(min-width: 1314px)"
          srcset="
            ./images/reviews/student-3-1314.jpg    1x,
            ./images/reviews/student-3-1314@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/reviews/student-3-768.jpg    1x,
            ./images/reviews/student-3-768@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/reviews/student-3-320.jpg    1x,
            ./images/reviews/student-3-320@2x.jpg 2x
          "
        />
        <img src="./images/reviews/student-1-1314.jpg" alt="Тоня Кучеровская" />
      </picture>
    </div>
    <svg class="icon-arrow right">
      <use href="../sprite.svg#icon-arrow-right"></use>
    </svg>
  </div>
</section>
