<section class="reviews">
  <div class="container">
    <h2 class="section-title">Отзывы выпускников</h2>
    <div class="slick-slider">
      <div class="slick-slider-item">
        <div class="foto-block">
          <picture>
            <source
              media="(min-width: 1314px)"
              srcset="
                ./images/reviews/student-6-main-1314.jpg    1x,
                ./images/reviews/student-6-main-1314@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/reviews/student-6-main-768.jpg    1x,
                ./images/reviews/student-6-main-768@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/reviews/student-6-main-320.jpg    1x,
                ./images/reviews/student-6-main-320@2x.jpg 2x
              "
            />
            <img
              src="./images/reviews/student-6-main-1314.jpg"
              alt="Тоня Кучеровская"
            />
          </picture>
          <svg class="icon-vk">
            <use href="../sprite.svg#icon-vk"></use>
          </svg>
        </div>
        <div class="text-block">
          <p class="student-name">Тоня Кучеровская</p>
          <p class="student-education">
            Выпуск 2015-го года, Національний університет біоресурсів і
            природокористування України
          </p>
          <div class="student-about" id="r0">
            <p>
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен ...
              <a
                class="read-more"
                href="javascript:change_visibility ('r0', 'r1')"
                >Читать дальше</a
              >
            </p>
          </div>
          <div class="student-about" id="r1" style="display: none">
            <p>
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Ratione iusto aspernatur vitae assumenda enim eius est atque.
              Reiciendis, culpa molestiae?
              <a
                class="read-more"
                href="#"
                onClick="change_visibility ('r1', 'r0')"
                >Свернуть</a
              >
            </p>
          </div>
        </div>
      </div>
      <!-- <div class="slick-slider-item">
          <div class="foto-block">
            <picture>
              <source
                media="(min-width: 1314px)"
                srcset="
                  ./images/reviews/student-6-main-1314.jpg    1x,
                  ./images/reviews/student-6-main-1314@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/reviews/student-6-main-768.jpg    1x,
                  ./images/reviews/student-6-main-768@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/reviews/student-6-main-320.jpg    1x,
                  ./images/reviews/student-6-main-320@2x.jpg 2x
                "
              />
              <img
                src="./images/reviews/student-6-main-1314.jpg"
                alt="Тоня Кучеровская"
              />
            </picture>
            <svg class="icon-vk">
              <use href="../sprite.svg#icon-vk"></use>
            </svg>
          </div>
          <div class="text-block">
            <p class="student-name">Second</p>
            <p class="student-education">
              Выпуск 2015-го года, Національний університет біоресурсів і
              природокористування України
            </p>
            <div class="student-about" id="r0">
              <p>
                За короткий час занять з Оленою я опанувала граматику і поповнила
                свій зовсім пустий словниковий запас. З першого ж заняття я
                зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями,
                тому що її справді хвилювала моя успішність. Вона стала для мене
                авторитетом, проте я не тремтіла на уроках, маючи страх зробити
                найменшу помилку. Зараз я можу похизуватись тим, що я студен ...
                <a
                  class="read-more"
                  href="javascript:change_visibility ('r0', 'r1')"
                  >Читать дальше</a
                >
              </p>
            </div>
            <div class="student-about" id="r1" style="display: none">
              <p>
                За короткий час занять з Оленою я опанувала граматику і поповнила
                свій зовсім пустий словниковий запас. З першого ж заняття я
                зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями,
                тому що її справді хвилювала моя успішність. Вона стала для мене
                авторитетом, проте я не тремтіла на уроках, маючи страх зробити
                найменшу помилку. Зараз я можу похизуватись тим, що я студен Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Ratione iusto
                aspernatur vitae assumenda enim eius est atque. Reiciendis, culpa
                molestiae?
                <a
                  class="read-more"
                  href="#"
                  onClick="change_visibility ('r1', 'r0')"
                  >Свернуть</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="slick-slider-item">
          <div class="foto-block">
            <picture>
              <source
                media="(min-width: 1314px)"
                srcset="
                  ./images/reviews/student-6-main-1314.jpg    1x,
                  ./images/reviews/student-6-main-1314@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/reviews/student-6-main-768.jpg    1x,
                  ./images/reviews/student-6-main-768@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/reviews/student-6-main-320.jpg    1x,
                  ./images/reviews/student-6-main-320@2x.jpg 2x
                "
              />
              <img
                src="./images/reviews/student-6-main-1314.jpg"
                alt="Тоня Кучеровская"
              />
            </picture>
            <svg class="icon-vk">
              <use href="../sprite.svg#icon-vk"></use>
            </svg>
          </div>
          <div class="text-block">
            <p class="student-name">Third</p>
            <p class="student-education">
              Выпуск 2015-го года, Національний університет біоресурсів і
              природокористування України
            </p>
            <div class="student-about" id="r0">
              <p>
                За короткий час занять з Оленою я опанувала граматику і поповнила
                свій зовсім пустий словниковий запас. З першого ж заняття я
                зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями,
                тому що її справді хвилювала моя успішність. Вона стала для мене
                авторитетом, проте я не тремтіла на уроках, маючи страх зробити
                найменшу помилку. Зараз я можу похизуватись тим, що я студен ...
                <a
                  class="read-more"
                  href="javascript:change_visibility ('r0', 'r1')"
                  >Читать дальше</a
                >
              </p>
            </div>
            <div class="student-about" id="r1" style="display: none">
              <p>
                За короткий час занять з Оленою я опанувала граматику і поповнила
                свій зовсім пустий словниковий запас. З першого ж заняття я
                зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями,
                тому що її справді хвилювала моя успішність. Вона стала для мене
                авторитетом, проте я не тремтіла на уроках, маючи страх зробити
                найменшу помилку. Зараз я можу похизуватись тим, що я студен Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Ratione iusto
                aspernatur vitae assumenda enim eius est atque. Reiciendis, culpa
                molestiae?
                <a
                  class="read-more"
                  href="#"
                  onClick="change_visibility ('r1', 'r0')"
                  >Свернуть</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="slick-slider-item">
          <div class="foto-block">
            <picture>
              <source
                media="(min-width: 1314px)"
                srcset="
                  ./images/reviews/student-6-main-1314.jpg    1x,
                  ./images/reviews/student-6-main-1314@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/reviews/student-6-main-768.jpg    1x,
                  ./images/reviews/student-6-main-768@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/reviews/student-6-main-320.jpg    1x,
                  ./images/reviews/student-6-main-320@2x.jpg 2x
                "
              />
              <img
                src="./images/reviews/student-6-main-1314.jpg"
                alt="Тоня Кучеровская"
              />
            </picture>
            <svg class="icon-vk">
              <use href="../sprite.svg#icon-vk"></use>
            </svg>
          </div>
          <div class="text-block">
            <p class="student-name">Fouth</p>
            <p class="student-education">
              Выпуск 2015-го года, Національний університет біоресурсів і
              природокористування України
            </p>
            <div class="student-about" id="r0">
              <p>
                За короткий час занять з Оленою я опанувала граматику і поповнила
                свій зовсім пустий словниковий запас. З першого ж заняття я
                зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями,
                тому що її справді хвилювала моя успішність. Вона стала для мене
                авторитетом, проте я не тремтіла на уроках, маючи страх зробити
                найменшу помилку. Зараз я можу похизуватись тим, що я студен ...
                <a
                  class="read-more"
                  href="javascript:change_visibility ('r0', 'r1')"
                  >Читать дальше</a
                >
              </p>
            </div>
            <div class="student-about" id="r1" style="display: none">
              <p>
                За короткий час занять з Оленою я опанувала граматику і поповнила
                свій зовсім пустий словниковий запас. З першого ж заняття я
                зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями,
                тому що її справді хвилювала моя успішність. Вона стала для мене
                авторитетом, проте я не тремтіла на уроках, маючи страх зробити
                найменшу помилку. Зараз я можу похизуватись тим, що я студен Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Ratione iusto
                aspernatur vitae assumenda enim eius est atque. Reiciendis, culpa
                molestiae?
                <a
                  class="read-more"
                  href="#"
                  onClick="change_visibility ('r1', 'r0')"
                  >Свернуть</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="slick-slider-item">
          <div class="foto-block">
            <picture>
              <source
                media="(min-width: 1314px)"
                srcset="
                  ./images/reviews/student-6-main-1314.jpg    1x,
                  ./images/reviews/student-6-main-1314@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/reviews/student-6-main-768.jpg    1x,
                  ./images/reviews/student-6-main-768@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/reviews/student-6-main-320.jpg    1x,
                  ./images/reviews/student-6-main-320@2x.jpg 2x
                "
              />
              <img
                src="./images/reviews/student-6-main-1314.jpg"
                alt="Тоня Кучеровская"
              />
            </picture>
            <svg class="icon-vk">
              <use href="../sprite.svg#icon-vk"></use>
            </svg>
          </div>
          <div class="text-block">
            <p class="student-name">Fifth</p>
            <p class="student-education">
              Выпуск 2015-го года, Національний університет біоресурсів і
              природокористування України
            </p>
            <div class="student-about" id="r0">
              <p>
                За короткий час занять з Оленою я опанувала граматику і поповнила
                свій зовсім пустий словниковий запас. З першого ж заняття я
                зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями,
                тому що її справді хвилювала моя успішність. Вона стала для мене
                авторитетом, проте я не тремтіла на уроках, маючи страх зробити
                найменшу помилку. Зараз я можу похизуватись тим, що я студен ...
                <a
                  class="read-more"
                  href="javascript:change_visibility ('r0', 'r1')"
                  >Читать дальше</a
                >
              </p>
            </div>
            <div class="student-about" id="r1" style="display: none">
              <p>
                За короткий час занять з Оленою я опанувала граматику і поповнила
                свій зовсім пустий словниковий запас. З першого ж заняття я
                зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями,
                тому що її справді хвилювала моя успішність. Вона стала для мене
                авторитетом, проте я не тремтіла на уроках, маючи страх зробити
                найменшу помилку. Зараз я можу похизуватись тим, що я студен Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Ratione iusto
                aspernatur vitae assumenda enim eius est atque. Reiciendis, culpa
                molestiae?
                <a
                  class="read-more"
                  href="#"
                  onClick="change_visibility ('r1', 'r0')"
                  >Свернуть</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="slick-slider-item">
          <div class="foto-block">
            <picture>
              <source
                media="(min-width: 1314px)"
                srcset="
                  ./images/reviews/student-6-main-1314.jpg    1x,
                  ./images/reviews/student-6-main-1314@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/reviews/student-6-main-768.jpg    1x,
                  ./images/reviews/student-6-main-768@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/reviews/student-6-main-320.jpg    1x,
                  ./images/reviews/student-6-main-320@2x.jpg 2x
                "
              />
              <img
                src="./images/reviews/student-6-main-1314.jpg"
                alt="Тоня Кучеровская"
              />
            </picture>
            <svg class="icon-vk">
              <use href="../sprite.svg#icon-vk"></use>
            </svg>
          </div>
          <div class="text-block">
            <p class="student-name">Sixth</p>
            <p class="student-education">
              Выпуск 2015-го года, Національний університет біоресурсів і
              природокористування України
            </p>
            <div class="student-about" id="r0">
              <p>
                За короткий час занять з Оленою я опанувала граматику і поповнила
                свій зовсім пустий словниковий запас. З першого ж заняття я
                зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями,
                тому що її справді хвилювала моя успішність. Вона стала для мене
                авторитетом, проте я не тремтіла на уроках, маючи страх зробити
                найменшу помилку. Зараз я можу похизуватись тим, що я студен ...
                <a
                  class="read-more"
                  href="javascript:change_visibility ('r0', 'r1')"
                  >Читать дальше</a
                >
              </p>
            </div>
            <div class="student-about" id="r1" style="display: none">
              <p>
                За короткий час занять з Оленою я опанувала граматику і поповнила
                свій зовсім пустий словниковий запас. З першого ж заняття я
                зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями,
                тому що її справді хвилювала моя успішність. Вона стала для мене
                авторитетом, проте я не тремтіла на уроках, маючи страх зробити
                найменшу помилку. Зараз я можу похизуватись тим, що я студен Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Ratione iusto
                aspernatur vitae assumenda enim eius est atque. Reiciendis, culpa
                molestiae?
                <a
                  class="read-more"
                  href="#"
                  onClick="change_visibility ('r1', 'r0')"
                  >Свернуть</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="slick-slider-item">
          <div class="foto-block">
            <picture>
              <source
                media="(min-width: 1314px)"
                srcset="
                  ./images/reviews/student-6-main-1314.jpg    1x,
                  ./images/reviews/student-6-main-1314@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/reviews/student-6-main-768.jpg    1x,
                  ./images/reviews/student-6-main-768@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/reviews/student-6-main-320.jpg    1x,
                  ./images/reviews/student-6-main-320@2x.jpg 2x
                "
              />
              <img
                src="./images/reviews/student-6-main-1314.jpg"
                alt="Тоня Кучеровская"
              />
            </picture>
            <svg class="icon-vk">
              <use href="../sprite.svg#icon-vk"></use>
            </svg>
          </div>
          <div class="text-block">
            <p class="student-name">Seventh</p>
            <p class="student-education">
              Выпуск 2015-го года, Національний університет біоресурсів і
              природокористування України
            </p>
            <div class="student-about" id="r0">
              <p>
                За короткий час занять з Оленою я опанувала граматику і поповнила
                свій зовсім пустий словниковий запас. З першого ж заняття я
                зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями,
                тому що її справді хвилювала моя успішність. Вона стала для мене
                авторитетом, проте я не тремтіла на уроках, маючи страх зробити
                найменшу помилку. Зараз я можу похизуватись тим, що я студен ...
                <a
                  class="read-more"
                  href="javascript:change_visibility ('r0', 'r1')"
                  >Читать дальше</a
                >
              </p>
            </div>
            <div class="student-about" id="r1" style="display: none">
              <p>
                За короткий час занять з Оленою я опанувала граматику і поповнила
                свій зовсім пустий словниковий запас. З першого ж заняття я
                зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями,
                тому що її справді хвилювала моя успішність. Вона стала для мене
                авторитетом, проте я не тремтіла на уроках, маючи страх зробити
                найменшу помилку. Зараз я можу похизуватись тим, що я студен Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Ratione iusto
                aspernatur vitae assumenda enim eius est atque. Reiciendis, culpa
                molestiae?
                <a
                  class="read-more"
                  href="#"
                  onClick="change_visibility ('r1', 'r0')"
                  >Свернуть</a
                >
              </p>
            </div>
          </div>
        </div> -->
    </div>
    <div class="students-foto">
      <button class="prev">
        <svg class="icon-arrow left">
          <use href="../sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <picture>
        <source
          media="(min-width: 1314px)"
          srcset="
            ./images/reviews/student-1-1314.jpg    1x,
            ./images/reviews/student-1-1314@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/reviews/student-1-768.jpg    1x,
            ./images/reviews/student-1-768@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/reviews/student-1-320.jpg    1x,
            ./images/reviews/student-1-320@2x.jpg 2x
          "
        />
        <img src="./images/reviews/student-1-1314.jpg" alt="Тоня Кучеровская" />
      </picture>
      <picture>
        <source
          media="(min-width: 1314px)"
          srcset="
            ./images/reviews/student-2-1314.jpg    1x,
            ./images/reviews/student-2-1314@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/reviews/student-2-768.jpg    1x,
            ./images/reviews/student-2-768@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/reviews/student-2-320.jpg    1x,
            ./images/reviews/student-2-320@2x.jpg 2x
          "
        />
        <img src="./images/reviews/student-2-1314.jpg" alt="Тоня Кучеровская" />
      </picture>
      <picture>
        <source
          media="(min-width: 1314px)"
          srcset="
            ./images/reviews/student-3-1314.jpg    1x,
            ./images/reviews/student-3-1314@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/reviews/student-3-768.jpg    1x,
            ./images/reviews/student-3-768@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/reviews/student-3-320.jpg    1x,
            ./images/reviews/student-3-320@2x.jpg 2x
          "
        />
        <img src="./images/reviews/student-1-1314.jpg" alt="Тоня Кучеровская" />
      </picture>
      <picture class="more-dots">
        <source
          media="(min-width: 1314px)"
          srcset="
            ./images/reviews/student-4-1314.jpg    1x,
            ./images/reviews/student-4-1314@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/reviews/student-4-768.jpg    1x,
            ./images/reviews/student-4-768@2x.jpg 2x
          "
        />
        <img src="./images/reviews/student-4-1314.jpg" alt="Тоня Кучеровская" />
      </picture>
      <picture class="more-dots">
        <source
          media="(min-width: 1314px)"
          srcset="
            ./images/reviews/student-5-1314.jpg    1x,
            ./images/reviews/student-5-1314@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/reviews/student-5-768.jpg    1x,
            ./images/reviews/student-5-768@2x.jpg 2x
          "
        />
        <img src="./images/reviews/student-5-1314.jpg" alt="Тоня Кучеровская" />
      </picture>
      <picture class="more-dots">
        <source
          media="(min-width: 1314px)"
          srcset="
            ./images/reviews/student-6-1314.jpg    1x,
            ./images/reviews/student-6-1314@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/reviews/student-6-768.jpg    1x,
            ./images/reviews/student-6-768@2x.jpg 2x
          "
        />
        <img src="./images/reviews/student-6-1314.jpg" alt="Тоня Кучеровская" />
      </picture>
      <picture class="more-dots">
        <source
          media="(min-width: 1314px)"
          srcset="
            ./images/reviews/student-7-1314.jpg    1x,
            ./images/reviews/student-7-1314@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/reviews/student-7-768.jpg    1x,
            ./images/reviews/student-7-768@2x.jpg 2x
          "
        />
        <img src="./images/reviews/student-7-1314.jpg" alt="Тоня Кучеровская" />
      </picture>
      <button class="next">
        <svg class="icon-arrow right">
          <use href="../sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
  <script type="text/javascript">
    function change_visibility(block_4_close, block_4_open) {
      document.getElementById(block_4_close).style.display = 'none';
      document.getElementById(block_4_open).style.display = '';
    }
  </script>
</section>
